{%- doc -%}
  Renders the cart icon, which displays the number of items in the cart via a bubble.
{%- enddoc -%}
<cart-icon
  class="
    header-actions__cart-icon
    {% unless cart == empty %} header-actions__cart-icon--has-cart{% endunless %}
  "
  data-testid="cart-icon"
>
  <span
    class="svg-wrapper"
    aria-hidden="true"
  style="HEIGHT: 28PX;
    WIDTH: 25PX;">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 3h1.5l1.7 9.4a1 1 0 001 .8h8.4a1 1 0 001-.8L17.5 5H5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <circle cx="7.5" cy="16.5" r="0.5" fill="currentColor"/>
          <circle cx="14.5" cy="16.5" r="0.5" fill="currentColor"/>
        </svg>
       
  </span>

  {% render 'cart-bubble', limit: 100, live_region: true, test_id: test_id %}
</cart-icon>

{% stylesheet %}
  cart-icon:has(.cart-bubble__text-count:empty) {
    --cart-bubble-size: 10px;
    --cart-bubble-top: 9px;
    --cart-bubble-right: 9px;

    .svg-wrapper {
      --cart-bubble-top: 4px;
      --cart-bubble-right: 4px;
    }
  }
{% endstylesheet %}
